<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service.description %>
</p>

<% @service.images.each do |img| %>
  <% cache img do %>
    <%= image_tag url_for(img.variant(resize: "300x300")) %>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
